.paddingTop {
    padding: 100px 0 80px;
}

.card {
    background: transparent;
    background-image: url(../../public/metaverse/images/cardBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 20px;
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 600px;
    min-height: 288px;
}

.grediantBtn {
    background-image: linear-gradient(to right, #EB335B, #4A78EF);
    font-size: 14px;
    padding: 13px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.relative {
    position: relative;
}

.cardImage {
    max-width: 500px;
}

.cardImage img {
    position: absolute;
    top: -52px;
    right: 57px;
    max-width: 230px;
    max-height: 329px;
}

.cardImageTwo img {
    position: absolute;
    right: 6px;
    top: -52px;
    max-height: 326px;
    max-width: 292px;
}

.cardImageFour img {
    position: absolute;
    right: 48px;
    max-width: 242px;
    min-height: 330px;
    top: -62px;
    max-height: 257px;
}

.cardContent {
    max-width: 330px;
    margin-top: 43px;
}

.br1 {
    border-right: 1px dashed #f32f5a45;
}

.bb1 {
    border-bottom: 1px dashed #f32f5a45;
}

.cardPosition {
    position: relative;
}

.metaDot img {
    position: absolute;
    left: 48%;
    top: 46%;
    z-index: 99999;
}

@media only screen and (max-width: 1199px) {
    .card {
        min-height: 221px;
        max-height: 222px;
    }

    .cardImage img {
        top: -47px;
        right: 34px;
        max-width: 165px;
        max-height: 247px;
    }

    .cardContent {
        margin-top: -3px;
        max-width: 258px;
    }

    .cardImageTwo img {
        right: -8px;
        top: -55px;
        max-height: 265px;
        max-width: 240px;
    }

    .cardImageFour img {
        right: 31px;
        max-width: 198px;
        min-height: 280px;
        top: -68px;
        max-height: 228px;
    }

    .f28 {
        font-size: 22px;
    }
}

@media screen and (max-width: 991px) {
    .card {
        max-width: 100%;
        min-height: 249px;
        max-height: 234px;
    }

    .card img {
        top: -51px;
        right: 43px;
        max-width: 229px;
        max-height: 294px;
    }
}

@media screen and (max-width: 567px) {
    .card img {
        display: none;
    }

    .cardContent {
        max-width: 100%;
    }

    .card {
        min-height: 190px;
        max-height: 253px;
    }

    .grediantBtn {
        font-size: 12px;
        padding: 11px 17px;
        border-radius: 12px;
    }

    .paddingTop {
        padding: 40px 0;
    }

    .metaDot img {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .paddingTop {
        padding: 0px 0;
    }
}