.gaurd {
  margin-top: 5%;
  background-image: url(../public/images/case-becteria/banner.svg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.gaurd h1 {
  font-size: 170px;
  line-height: 180px;
  text-align: center;
}

.gaurd h3 {
  font-size: 50px;
  line-height: 60px;
}

.gaurd p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
}

.gaurd .banImg {
  margin-top: -100px;
  width: 780px;
  position: absolute;
}

/* ============================================= */

@media screen and (max-width: 1600px) {
  .gaurd h1 {
    font-size: 150px;
  }

  .gaurd .banImg {
    right: 70px;
    width: 700px;
  }
}

@media screen and (max-width: 1440px) {
  .gaurd h1 {
    font-size: 150px;
  }

  .gaurd h3 {
    font-size: 50px;
    line-height: 60px;
  }

  .gaurd p {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1366px) {
  .gaurd .banImg {
    right: 70px;
    width: 620px;
  }
}

@media screen and (max-width: 1280px) {
  .gaurd h1 {
    font-size: 160px;
  }
}

@media screen and (max-width: 1024px) {
  .gaurd h1 {
    font-size: 100px;
    line-height: 125px;
  }

  .gaurd h3 {
    font-size: 40px;
    line-height: 50px;
  }

  .gaurd .banImg {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .gaurd {
    margin-top: 10%;
    background-position: bottom center;
  }

  .gaurd h1 {
    font-size: 45px;
    line-height: 55px;
  }

  .gaurd h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
