.banner{
    background-color: #F6F1FF;
    height: 100vh;
}

.banner h1{
    padding-top: 55px;
}

.bttns1 {
    background-image: linear-gradient(to right, #F32F5E, #4A78EF);
    width: 198px;
    height: 45px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.bttns2 {
    background-image: linear-gradient(to right, #82369C, #0047FF);
    width: 198px;
    height: 45px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.bttnsto {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bttnsto {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

.bannerform {
    background-color: black;
    height: 100vh;
}

.discuss{
    height: 55px;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 30px;
}
.bannnerproject {
    justify-content: space-between;
}
.discuss a{
    text-decoration: none;
}

.make{
    background-color: #272727;
    padding-top: 20px;
    padding-bottom: 20px;
}
.free{
    max-width: 85%;
    margin: 0 auto;
}

.formsbanner .forminput {
    background-color: #707070;
    border: unset;
    height: 45px;
    width: 100%;
    border-radius: unset;
    margin-bottom: 2%;
    padding-left: 4%;
}
.formsbanner .forminput::placeholder{
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.formsbanner .forminput:focus-visible{
  outline: none;
}
.formsbanner .formarea:focus-visible{
    outline: none;
  }
.formsbanner .formarea::placeholder{
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    
}

.formsbanner .formarea {
    background-color: #707070;
    border: unset;
    height: 100px;
    width: 100%;
    border-radius: unset;
    margin-bottom: 4%;
    padding-left: 4%;
    padding-top: 4%;
}
.formsbanner {
    max-width: 85%;
    margin: 0 auto;
}

.notice {
    background-image: linear-gradient(to right, #F32F5E, #4A78EF);
    width: 40%;
    height: 45px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: unset;
}

.take {
    display: flex;
    justify-content: space-between;
}

.read {
    padding-top: 15px;
    background-color: #000000;
    padding-bottom: 75px;
}

.califonia {
    gap: 11px;
}
.sharjah{
    max-width: 85%;
    margin: 0 auto;
    gap: 21px;
    align-items: center;
}

.alignment{
    gap: 5px;
}

.sharjah a {
    display: block;
}

@media screen and (max-width: 1440px) {
.bannerimg img{
    height: 420px;
}



 }


 @media screen and (max-width: 991px) {
    .banner {
        background-color: #F6F1FF;
        height: auto;
    }

}

@media screen and (max-width: 480px) {
    .read {
        display: none;
    }
    .discuss {
        display: none!important;
    }
    .bannerform {
        height: auto;
    }
    .bannerimg img {
        height: 420px;
        display: none;
    }
    .make {
        padding-top: 45px;
        padding-bottom: 45px;
        margin-top: 45%;
    }
    .banner h1 {
        padding-top: 150px;
    }

    .free p {
        color: white;
        font-size: 18px;
        text-align: center;
    }

    .take p {
        color: white;
        font-size: 11px;
    }

    .formsbanner .forminput::placeholder{
        color: white;
        
    }
    
    .formsbanner .formarea::placeholder{
        color: white;
       
        
    }

}