.cta1 .ctaRow {
  background-image: url(../public/images/BlockchainDvelpment/cta/cta1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  border-radius: 30px;
  margin-bottom: 50px;
}

.bttnsto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.bttns1 {
  width: 198px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 1s;
  border: 1px solid #fff;
}

.bttns1:hover {
  transition: background-color 1s;
  background-color: #fff;
  color: #000;
}

.bttns2 {
  width: 198px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #fff;
  transition: background-color 1s;
}

.bttns2:hover {
  transition: background-color 1s;
  background-color: #fff;
  color: #000;
}
