.footer{
    background-color: #272727;
    padding-top: 80px;
}
.project {
    border-bottom: 1px solid #707070;
    padding-bottom: 4%;
}

.past{
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #707070;
    justify-content: space-between;
}

.patner {
    padding-left: 0;
}
.patner li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
}

.patner li {
    padding-bottom: 20px;
}

.policy p {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.now {
    color: #ee3163;
}

.fill{
    display: flex;
    gap: 15px;
    margin-bottom: 2%;
    align-items: center;
}
.email{
    width: 45px;
    background-color: #464646;
    height: 45px;
    padding: 13px;
    color: white;
}

.socialicons {
    margin-bottom: 2%;
}
.spacing {
    margin-bottom: 2%;
}
.bttns1{
    background-image: linear-gradient(to right, #F32F5E, #4A78EF);
    width: 198px;
    height: 45px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 12%;
}

@media screen and (max-width: 1399px) { 
 
  
  .patner li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 500;
  }
  
  
  }