@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/* fontfamily */

.fontf {
  font-family: "Montserrat", sans-serif;
}

/* fontweight */

.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}

/* fontsizes */

.font65 {
  font-size: 65px;
}
.font25 {
  font-size: 25px;
}
.font15 {
  font-size: 15px;
}
.font20 {
  font-size: 20px;
}
.font21 {
  font-size: 21px;
}
.font8 {
  font-size: 8px;
}
.font10 {
  font-size: 10px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font12 {
  font-size: 12px;
}
.font75 {
  font-size: 75px;
}
.font70 {
  font-size: 70px;
}
.font30 {
  font-size: 30px;
}
.font50 {
  font-size: 50px;
}
.font40 {
  font-size: 40px;
}

/* linehight */

.line60 {
  line-height: 65px;
}
.line30 {
  line-height: 30px;
}

/* colors */
.black {
  color: #000000;
}

.grdiant {
  background-image: linear-gradient(to right, #f32f5e, #4a78ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white {
  color: #ffffff;
}

.lightgrey {
  color: #b2b2b2;
}
.grey {
  color: #707070;
}

/* text alignments */

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.texdocration {
  text-decoration: none;
}

.letterspace {
  letter-spacing: 2px;
}

.texttran {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F32F5E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F32F5E;
}


/* faqsblogs */
 .faqsblog .accordion-button{
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: #FAF7FA;
}
.faqsblog .accordion-body {
  font-size: 16px;
  color: black;
  font-family: 'Montserrat';
  font-weight: 500;
}

.faqsblog .accordion-button:not(.collapsed) {
  background-color:unset;
  color: #000000;
}

.faqsblog .accordion-item {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  border: var(--bs-accordion-border-width) solid #000000;
}

.faqsblog .accordion-item {
  background-color: #FAF7FA;
}
.faqsblog .accordion-item:first-of-type {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.faqsblog  .accordion-item:last-of-type {
  border-bottom-right-radius: unset;
  border-bottom-right-radius: unset; 
}

.faqsblog  .accordion-button:focus {
  z-index: 3;
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}


/* ourservicesfaqs */

.ourservicesfaqs .accordion-item {
  color: #ffffff;
  background-color: unset;
  border-bottom: 1px solid #4d4c4c!important;
  border: unset;
}
.ourservicesfaqs .accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: unset;
    box-shadow: unset;
}
.ourservicesfaqs .accordion-item:last-of-type {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
}
.ourservicesfaqs .accordion-button{
  background-color: unset;
  color: #ffffff;
}

.ourservicesfaqs  .accordion-button {
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: bold;
}
.ourservicesfaqs  .accordion-body {
  color: #B2B2B2;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 500;
}