.header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f6f1ff;
}

.navBar {
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 20px 0px 15px;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.menu li {
  height: 100%;
}

.menu li a {
  color: #000;
  height: 100%;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 3px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  transition: all 0.4s ease-in-out;
}

.menu li a:hover {
  background-color: #272727;
  color: #fff;
}

.megaList1:hover .megaLink,
.megaList2:hover .megaLink,
.megaList3:hover .megaLink {
  background-color: #272727;
  color: #fff;
}

.megaList1 .megaMenu1,
.megaList2 .megaMenu2,
.megaList3 .megaMenu3 {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #272727;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 12px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 0.4s ease-in-out;
}

.megaList1:hover .megaMenu1,
.megaList2:hover .megaMenu2,
.megaList3:hover .megaMenu3 {
  display: block;
  animation: 0.7s ease-in-out forwards growDown;
  transform-origin: top;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.megaMenu1 {
  height: 90vh;
  padding: 30px 20px;
}

.megaMenu2 {
  height: 65vh;
  padding: 30px 20px;
}

.megaMenu3 {
  height: 90vh;
}

.megaRow {
  row-gap: 35px;
}

.listHeading {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #919191;
  padding-bottom: 8px;
}

.listHeading h5 {
  color: #fff;
}

.megaIcon {
  max-height: 24px;
}

.listHeading img {
  max-height: 22px;
}

.listBody ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.listBody ul li a {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 0;
  color: #ccc;
}

.listBody ul li a:hover {
  background-image: linear-gradient(to right, #f32f5e, #4a78ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listBody ul li span {
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.listBody p {
  font-size: 13px;
  font-weight: 500;
  color: #ccc;
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
}

.listMain2 {
  background-color: #141414;
  height: 100%;
}

.megaMenu3 .megaRow {
  padding: 30px 20px;
}

.megaMenu3 .listMain2 {
  padding: 30px 20px 30px 10px;
}

.listMain2 .listBody ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.listMain2 .listBody ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.listMain2 .listBody ul li a span {
  color: #fff;
}

.listMain2 .listBody ul li a img {
  filter: invert(1);
  width: 28px;
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .navBar {
    position: unset;
  }

  .menu li a {
    padding: 0 12px;
    font-size: 13px;
  }

  .megaMenu2 {
    height: 80vh;
  }

  .listImg {
    text-align: center;
  }

  .listMain2 {
    height: 90vh;
  }

  .resList{
    margin-top: 10px;
  }
}
