.soulHorizons {
  padding: 50px 0;
}

.heading {
  background-image: url(../public/images/case-icon.svg);
  background-size: 50%;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
