.lookingfor{
    padding-top: 120px;
}
.bttns1 {
    background-image: linear-gradient(to right, #F32F5E, #4A78EF);
    width: 100%;
    height: 45px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.bttns1:hover {
    background-image: linear-gradient(to right, #4a78ef, #f32f5e);
}
.btn1:hover {
    background-image: linear-gradient(to right, #4a78ef, #f32f5e);
}
.devlp{
    color: black;
    display: flex;
    background-color: #f6f6f6;
}

.devlp .game{
    width: 447px;
    border: 1px solid #737272;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    color: black;
    font-weight: 500;
}
.devlp .btnblack{
    width: 447px;
    border: 1px solid #737272;
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.roadmap{

    padding-left: 0;
    margin: 0px;
}


.devlp1{
    color: black;
    display: flex;
}

.devlp1 .game1 {
    width: 447px;
    border: 1px solid #908b90;
    height: auto;
    padding: 3%;
}

.btn1 {
    background-image: linear-gradient(to right, #F32F5E, #4A78EF);
    width: 270px;
    height: 45px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10%;
}

.output{
    position: relative;
    height: 100%;
}
.output img {
    position: absolute;
    height: auto;
    bottom: 0px;
}


@media screen and (max-width: 1280px) {

    .output img {
        position: absolute;
        height: auto;
        bottom: 0px;
    }
    .bttns1 {
        width: 100%;
    }
  
    }


    
@media screen and (max-width: 991px) {

    .output img {
        position: unset;
        height: auto;
        bottom: 0px;
    }

    .bttns1 {
        width: 270px;
    }
  
    }

    @media screen and (max-width: 767px) { 

        .devlp .btnblack{
            width: 100%;
            border: 1px solid #737272;
            background-color: black;
            height: 47px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            color: white;
            font-weight: 500;
        }

        .devlp .game {
            width: 100%;
        }
        .devlp {
            flex-direction: column;
        }

    }
    @media screen and (max-width: 480px) { 
       .roadmap li{
            font-size: 11px;
        }
        .devlp .game{
            font-weight: bold;
        }

    }