.newHomeBg {
    background: #000;
    padding-top: 140px ;
    background-image: url(../public/newHomePageImages/hear_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.headContent{
    max-width: 590px;
}

.btn_txt {
    color: white;
    padding-right: 10px;
}

.sec_btn span {
    padding-left: 15px;
    width: 20px;
    height: 20px;
}