.newHomeBg{
    padding-top: 150px;
    padding-bottom: 150px;
    background: #000;
}

.newHomeBg h1{
    max-width: 990px;
    margin: 0 auto; 
}

.para{
    font-size: 14px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    color: white;   
    height: 75px;
}
.para1{
    font-size: 14px;
  
    color: white;   
}

.cardImage{
    min-height: 550px;
}

/* .app{
    border-image: linear-gradient(90deg,#f32f5e,#4a78ef) 30;
    border-width: 1px;
    border-style: solid;
  

} */
.app{
    border-radius: 15px; /*1*/
    border: 4px solid; /*2*/
    border-image: linear-gradient(#F32F53,#F32FC2,#4A78EF) 10;
    -webkit-mask: /*4*/
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
       padding-top: 50px;
       padding-bottom: 20px;
       height: 465px;

}
.app1{
    border-radius: 15px; /*1*/
    border: 10px solid transparent; /*2*/
    background: linear-gradient(#F32F53,#F32FC2,#4A78EF) border-box; /*3*/
    -webkit-mask: /*4*/
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
       padding-top: 50px;
       padding-bottom: 20px;
       height: 465px;
}
.app1 .para{
    height: 105px;
}
.app2 .para{
    height: 125px;
}

.app2{
    border-radius: 15px; /*1*/
   background-color: white;
   padding-top: 50px;
   padding-bottom: 20px;
   height: 465px;
   overflow: hidden;
   background-repeat: no-repeat;
 
}

.app2 .para{
    color: black;
}

.app3{

    background-image: url(../public/newHomePageImages/por3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 28px 9px 33px;
}

.pont {
    display: flex;
    gap: 20px;
    margin-top: 2%;
    
}

.book{
    width: 198px;
    height: 45px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about{
    width: 198px;
    height: 45px;
    background-image: linear-gradient(to right, #F32F53, #F32FC2, #4A78EF);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}




.app4{
    border-radius: 15px; /*1*/
    border: 4px solid; /*2*/
    border-image: linear-gradient(#F32F53,#F32FC2,#4A78EF) 10;
    -webkit-mask: /*4*/
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
       padding-top: 50px;
       padding-bottom: 20px;
       height: auto;

}

.para2{
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color: white;   
    height: 75px;
}
.para3{
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color: black;   
    height: 75px;
}

.app5{
    border-radius: 15px; /*1*/
   background-color: white;
   padding-top: 50px;
   padding-bottom: 20px;
   height: auto;
 
}


.app6{
    border-radius: 15px; /*1*/
    border: 10px solid transparent; /*2*/
    background: linear-gradient(#F32F53,#F32FC2,#4A78EF) border-box; /*3*/
    -webkit-mask: /*4*/
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
       padding-top: 50px;
       padding-bottom: 20px;
       height: 465px;
}

.pick{
    display: flex;
}
.power{
    width: 215%;
}


.custom{
    width: 75%;
}

@media screen and (min-width: 1500px) {


    .app3 {
        padding: 80px 28px 9px 33px; 
    }

    .app {
        height: 500px;
    }
    .app1 {
        height: 500px;
    }
    .app2 {
        height: 500px;
    }
    .custom {
       
        width: 65%;
    }


 }


 @media screen and (max-width: 1200px) { 

    .app4 {
        height: auto;
    }
    .app5 {
        height: auto;
    }
    .app3 {

        background-size: auto;
        padding: 30px 28px 9px 33px;
    }
    .app3 img {
        max-width: 24%;
        margin-top: 2%;
    }


 }

 @media screen and (max-width: 767px) {  

    .newHomeBg {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pick {
        display: flex;
        flex-direction: column;
    }
    .power{
        width: 100%;
    }

    .app6 {
        height: auto;
    }

    .app{
    
        height: auto;
    }


 }