.newHomeBg{
    padding: 80px 0;
    background: #000;
}

.newHomeBg h1{
    max-width: 990px;
    margin: 0 auto; 
}

.para{
    font-size: 14px;
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
    color: white;   
}

.cardImage{
    min-height: 550px;
}