.ourProject {
  background-color: #272727;
  padding: 100px 0;
  overflow: hidden;
}

.newproject{
  margin-top: 60px;
}

.slideBox{
  background-color: #565656;
  padding: 30px;
  padding-left: 60px;
}

.slideList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}

.slideList img {
  width: 10px;
}

.slideCntnt{
  width: 100%;
}

.slideCntnt a {
  font-size: 20px;
  font-weight: 700;
}

.slideImg{
  text-align: center;
}

.bttns1:hover {
  transition: background-color 2s;
  background: linear-gradient(90deg, #4a78ef, transparent) #f32f5e;
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .slideImg {
    display: flex;
    align-items: center;
  }
}




