.ourProject {
  background-color: #272727;
  padding: 100px 0;
}

.prjctSlider {
  background-color: #575757;
}

.slideRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.slideBox {
  padding: 15px 8px;
}

.slideList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}

.slideList img {
  width: 10px;
}

.slideCntnt a {
  font-size: 20px;
  font-weight: 700;
}

.slideImg {
  margin-top: 2px;
  margin-bottom: 2px;
}

.slideArrow {
  width: 100%;
  display: flex;
  align-items: center;
}
.bttns1:hover {
  background-image: linear-gradient(to right, #4a78ef, #f32f5e);
}
/* ===============Media Queries================ */

@media screen and (max-width: 1280px) {
 


 }
@media screen and (max-width: 991px) {

  .prjctSlider {
    width: 70%;
    margin: 0 auto;
  }

  .slideImg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slideArrow {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .prjctSlider {
    width: 100%;
  }
}