.ourservices {
    background-color: #272727;
    padding-top: 65px;

}


.bttns1 {
    background-image: linear-gradient(to right, #F32F5E, #4A78EF);
    width: 198px;
    height: 45px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.project {
    padding-bottom: 65px;
    border-bottom: 1px solid #707070;
}

.imgapost {
    position: relative;
}

.imgapost img {
    position: absolute;

}

@media screen and (max-width: 1399px) {
    .imgapost img {
        position: absolute;
        width: 75%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1400px) {

    .imgapost img {
        position: absolute;
        width: 70%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

}