.soulOverView{
    padding: 100px 0 50px;
}

.heading{
    background-image: url(../public/images/case-icon.svg);
    background-size: 80%;
    background-position: left;
    background-repeat: no-repeat;
    height: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading svg {
    font-size: 30px;
  }

.contnt a{
    color: #000;
    font-weight: 800;
}

.foldImg{
    text-align: center;
}

.foldImg img{
    /* width: 75%;
    margin: 0 auto; */
    width: 100%;
    margin-top: 50px;
}