.caseOverView {
  padding: 100px 0 50px;
}

.heading {
  background-image: url(../public/images/case-icon.svg);
  background-size: 70%;
  background-position: top left;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.headBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading svg {
  font-size: 30px;
}

.contnt{
  margin-top: 50px;
}

.contnt a {
  color: #000;
  font-weight: 800;
}

.foldImg {
  text-align: center;
}

.foldImg img {
  width: 100%;
  margin-top: 50px;
}

/* ============================================= */

@media screen and (min-width: 1440px) {
  .heading {
    background-size: 60%;
  }
}

@media screen and (max-width: 991px) {
  .heading {
    background-image: unset;
    padding: 0;
  }

  .heading svg {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .soulOverView {
    padding: 25px 0 50px;
  }
}
