.hearfelt {
  padding-top: 80px;
  /* padding-bottom: 80px; */
  position: relative;
}

.hearfelt:before {
  content: "";
  display: block;
  /* background-image: url(../public/images/partner/shadow.webp); */

  background-repeat: no-repeat;
  background-position: top center;
  height: 35%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  z-index: -1;
}

/* .hearfelt:after {
  content: "";
  display: block;
  background-image: url(../public/images/partner/switch-line.webp);
  background-position: top center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 102px;
  height: 991px;
  margin: auto;
  filter: hue-rotate(302deg);
} */
.rightpadding {
  border: 1px solid #d7cdcd;
    padding: 6%;
    height: 500px;
    overflow: auto;
}
.leftpadding {
  border: 1px solid #d7cdcd;
    padding: 6%;
    height: 500px;
    overflow: auto;
}
.makes {
  text-align: center;
  padding-bottom: 60px;
}
.arrowBtn {
  display: flex;
  align-items: center;
}
.arrowBtn img {
  margin-left: 3%;
}
.arrowBtn span {
  letter-spacing: 0.8px;
  transition: all 0.2s ease-in-out;
}

.arrowBtn span:hover {
  margin-right: 15px;
}

/* =================Media Queries=================== */

@media screen and (max-width: 1200px) {
  .hearfelt:after {
    background-image: none;
    margin: 0;
  }
  .makes {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .makes {
    padding-bottom: 25px;
  }

  .rightpadding,
  .rightpadding p {
    text-align: center;
    padding-right: 0;
  }

  .leftpadding,
  .leftpadding p {
    text-align: center;
    padding-left: 0;
  }

  .arrowBtn {
    justify-content: center;
  }

  .cardImg {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .crdImg {
    width: 80%;
  }

  .cardImg img {
    width: 100%;
  }
}

@media screen and (max-width:480px) { 
.rightpadding img{
  display: none;

}
.leftpadding img{
  display: none;

}


}
